header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  float: right;
  width: 100%;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  div {
    background-color: blueviolet;
    float: left;
    width: 100%;
  }

  div > h2 {
    text-align: center;
    color: #d0dad9;
  }

  nav {
    background-color: aquamarine;
  }

  html {
    background: url(/images/lycurgus_cup.jpg) no-repeat fixed;
    height: 10%;
    width: 100%;
    background-size: cover;
    background-position: center top;
    align-content: center;
  }
